.header-container {
    display: flex;
    justify-content: center;
    height: 140px;
    color: white;
}

.header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    color: white;
}

.header-logo {
    font-size: 50px;
    font-family: "Logo Text";
    color: rgb(181, 181, 181);
    font-weight: bold;
}

.header-options {
    display: flex;
    align-items: center;
}

.header-option {
    font-size: 20px;
    font-family: "Modern";
    cursor: pointer;
    opacity: 0.7;
    font-weight: 600;
    transition: 0.2s ease-out;
}

.header-option:hover {
    opacity: 1;
}

.header-hamburger {
    display: none;
    color: white;
}

.header-option-seperator {
    margin: 0 50px 0 0;
    color: white;
}

.selected-header-option {
    opacity: 1;
    color: #ff5823;
}

@media only screen and (max-width: 1110px) {
    .header-parent {
        width: 80%;
    }
}

@media only screen and (max-width: 970px) {
    .header-parent {
        width: 100%;
        padding: 0 40px;
        position: relative;
    }
    .header-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        top: 0px;
        height: 30vh;
        overflow: hidden;
        width: 100%;
        justify-content: space-around;
        background-color: #1f2235;
        z-index: 1000;
        opacity: 0.8;
        transition: all 0.8s ease-out;
    }
    .header-option-seperator {
        margin: 0;
    }
    .selected-header-option {
        color: white;
    }
    .header-option {
        color: white;
    }
    .header-hamburger-bars {
        display: none;
        font-size: 30px;
        cursor: pointer;
        margin: 0px 10px;
        color: white;
    }
    .show-hamburger-options {
        left: 0;
        display: none;
        opacity: 1;
    }
}
